.ContactCont {
    /* height: fit-content; */
    min-height: 30vw;
    background-color: var(--AboutPageBg);
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

.ContactTitleCont{
    display: flex;
    justify-content: center;
}

.ContactTitleDiv {
    height: fit-content;
    width: fit-content;
    border-bottom: 2px solid var(--highLight);
    padding: 0 0 5px 0;
}

.ContactTitleDiv > h4 {
    margin: 0;
}

.ContactBtnCont {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(84, 84, 84, 0.552);
    width: fit-content;
    border-radius: 10px;
    margin-top: 10px;
}

.ContactBtnCont > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 40px;
}

.EmailLinkDiv > a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid var(--highLight);
}

a:hover {
    color: var(--highLight);
}

h6 {
    margin: 5px;
    font-weight: 700;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #7C7C7C;
    border-radius: 50%;
}

.EnvelopeIcon {
    width: 30px;
    height: 30px;
    
}

.LinkedinLogo {
    fill: white;
    display: flex;
    justify-content: center;
    width: 30px;
}

.GithubLogo {
    width: 35px;
    height: 35px;
}

