:root {
  --text: #0A1128;
  --highLight: #a3ff7e;
  --btnColor: #D6FF79;
  --AboutPageBg: #2B303A;
}

html,
body {
  height: 100vh;
  margin: 0;
  color: white;
  scroll-behavior: smooth;
  min-width: fit-content;
}
